.footer{
    display: flex;
    flex-direction: row;
    background: linear-gradient(60deg, rgba(255,75,0,1) 0%, rgba(253,29,29,1) 50%, rgba(181,63,14,1) 100%);
    padding: 40px;
    gap: 32px;
    /* justify-content: ; */

}

.footer-content-wrapper{
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.footer .menu{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer .menu .title{
    color: var(--foundation-light);
    text-decoration: none;
    /* font-weight: 800; */
}

.footer .menu a{
    color: var(--foundation-light);
    text-decoration: none;
}

.footer .contact{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer .contact .title{
    color: var(--foundation-light);
    text-decoration: none;
    /* font-weight: 800; */
}

.footer .contact span{
    color: var(--foundation-light);
    text-decoration: none;
}

.social-icons a{
    color: var(--foundation-light);
}

/* Responsive design */
@media (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
    padding: 20px;

    }
    .footer-content-wrapper{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }


    
}