/* ServiceRequestForm.css */

.service-request-form {
    max-width: 800px;
    margin: 20px auto;
    padding: 40px;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    background-color: var(--foundation-red-light);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.required-fields {
    color: red;
    font-size: 0.9em;
}

