@import url('./theme.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--foundation-red-light);
  overflow-x: hidden;
}


/* --- nav bar ---  */


.primary-btn {
  background-color: var(--color-primary);
  color: var(--foundation-light);
  border-color: var(--color-primary);
  border-radius: 32px;
}

.primary-btn:hover {
  background-color: transparent;
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.carousel-indicators {
  display: none !important;
}

.card-img-overlay{
  background: linear-gradient(177deg, rgba(253,29,29,0) 43%, rgba(18,18,18,1) 100%);
}

.modal-header{
  border-bottom: unset;
}

.modal-footer{
  border-top: unset;
}

.form-select, .form-control, .form-control:focus, .form-select:focus{
  background-color: var(--foundation-red-light);
  border-color: #121212;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-width: 2px;
  border-radius: 0;
  box-shadow: none;
}
.form-control::file-selector-button{
  background-color: var(--color-primary);
}

/* Custom CSS to change active nav item text color to red */
.nav-link.active {
  color: var(--color-primary)!important; 
}

/* Optional: Add hover effect */
.nav-link:hover {
  color: var(--color-primary);
}
