@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('./mediaquery.css');

:root {
  --color-primary: #6E0D1F;
  --color-secondary: #5A5A5A;
  --color-tertiary: #FFCC00;
  --color-light: #ffffff;
  --color-background: #F5F5F5;
  --color-icon-container: rgba(110, 13, 31, 0.1);
}

/* App.css */
html,
body {
  height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
}



.left-sider {
  background-color: var(--color-light);
  /* Content background */
  padding-left: 4rem;
  /* Adjust content padding */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.left-sider::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  /* Red margin width */
  height: 100%;
  background-color: var(--color-primary);
  /* Dark red color */
}

.navbar {
  color: var(--color-primary);
  /* padding: 1rem; */
}

.navbar-nav {
  list-style: none;
  /* Remove bullet points */
  margin: 0;
  padding: 0;
  display: flex;
  /* Display items in a single line */
  align-items: center;
  /* Vertically center items */
}

.nav-item {
  margin-right: 20px;
  /* Add space between each nav item */
}

.nav-item a {
  text-decoration: none;
  /* Remove underline */
  font-family: "Inter", sans-serif !important;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-primary) !important;
  padding: 16px 8px 16px 0;
  display: block;
  /* Ensure clickable area extends over the padding */
  transition: background-color 0.3s ease;
  /* Smooth background transition */
}

.nav-item .active {
  position: relative;
  /* Ensures ::after is positioned relative to the link */
}

.nav-item .active::after {
  content: '';
  /* Creates an empty pseudo-element */
  position: absolute;
  left: -4px;
  right: 0;
  bottom: 0px;
  /* Position the underline slightly below the text */
  height: 4px;
  /* Set the height of the underline */
  background-color: var(--color-primary);
  /* Set the underline color */
  border-radius: 3px;
  /* Rounded corners for the pill-like effect (half of height) */
  width: 100%;
  /* Make the underline span the entire width */
}


.logo{
  margin-top: 100px;
}
.reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-top: 16px;
  margin-bottom: 0;
}

.contact-btn {
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 8px 16px;
  height: 48px;
  border: none;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  font-weight: 300;
}

.avatar-list {
  display: flex;
  align-items: center;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  margin-right: -10px;
  z-index: 1;
}

.avatar:nth-child(2) {
  z-index: 2;
}

.avatar:nth-child(3) {
  z-index: 3;
}

.reviews-count {
  width: 36px;
  height: 36px;
  background-color: #7B2A3B;
  /* Dark red */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 14px;
  /* font-weight: bold; */
  z-index: 4;
}

.reviews-text {
  font-size: 12px;
  color: #777;
  /* margin-top: 8px; */
}


/* _________________________ */
.carousel .slide {
  height: 100svh;
}
.carousal-new, .carousel .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container */
  vertical-align: top;
  border: 0;
}


.legend {
  font-family: "Inter", sans-serif !important;
  font-size: 36px !important;
  font-weight: bold !important;
  color: var(--color-primary) !important;
  background-color: unset !important;
  opacity: unset !important;
  display: block !important;
  /* Ensures block display */
}

.legend-2 {
  font-family: "Inter", sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: var(--color-primary) !important;
  background-color: unset !important;
  opacity: unset !important;
  display: block !important;
  /* Ensures block display */
}

.carousel .control-dots {
  text-align: right !important;
}

.control-dots .selected {
  background-color: var(--color-primary) !important;
  width: 60px !important;
  border-radius: 4px !important;
}

.control-dots .dot {
  border: 2px solid var(--color-primary) !important;
  box-shadow: unset !important;
}

/* _______________________________________ */
.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.content-title {
  font-size: 32px;
  font-weight: bold;
  color: var(--color-primary);
}

.content-description {
  font-size: 18px;
  color: var(--color-secondary);
  margin-bottom: 24px;
}

.specialization {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.icon-container {
  height: 80px;
  width: 80px;
  background-color: var(--color-icon-container);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.specialization-item {
  display: flex;
  gap: 16px;
  align-items: center;
}

.specialization-icon {
  font-size: 32px;
  color: var(--color-primary);
}

.specialization-text h5 {
  font-size: 20px;
  color: var(--color-primary);
  margin: 0;
}

.specialization-text p {
  font-size: 16px;
  color: var(--color-secondary);
  margin: 0;
}

/* ___________ section 3 ___________ */
.section-3{
  height: 100svh;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}

.section-3 .left-section{
  display: flex;
  flex-direction: column;
  width: 50%;
}
/* _______ */

.section-3 .left-section .stat-1{
  height: 33.33%;
  background-color: var(--color-tertiary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}
.section-3 .left-section .stat-1 .open-section{
  color: var(--color-primary);
  font-size: large;
  text-align: end;
}

.section-3 .left-section .stat-1 .stat-content .title{
  color: var(--color-primary);
  font-size: 22px;
  font-weight: bold;
  font-family: "Inter", sans-serif !important;
}

.section-3 .left-section .stat-1 .stat-content .stat{
  color: var(--color-primary);
  font-weight: bold;
  font-family: "Inter", sans-serif !important;
}
/* _______ */
.section-3 .left-section .stat-2{
  height: 33.33%;
  background-color: var(--color-tertiary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}
.section-3 .left-section .stat-2 .open-section{
  color: var(--color-primary);
  font-size: large;
  text-align: end;
}

.section-3 .left-section .stat-2 .stat-content .title{
  color: var(--color-primary);
  font-size: 22px;
  font-weight: bold;
  font-family: "Inter", sans-serif !important;
}

.section-3 .left-section .stat-2 .stat-content .stat{
  color: var(--color-primary);
  font-weight: bold;
  font-family: "Inter", sans-serif !important;
}
/* _________ */
.section-3 .left-section .stat-3{
  height: 33.33%;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}
.section-3 .left-section .stat-3 .open-section{
  color: var(--color-primary);
  font-size: large;
  text-align: end;
}

.section-3 .left-section .stat-3 .stat-content .title{
  color: var(--color-primary);
  font-size: 22px;
  font-weight: bold;
  font-family: "Inter", sans-serif !important;
}

.section-3 .left-section .stat-3 .stat-content .stat{
  color: var(--color-primary);
  font-weight: bold;
  font-family: "Inter", sans-serif !important;
}
/* __________ */

.section-3 .right-section{
  display: flex;
  flex-direction: column;
  width: 50%;
}
/* _______ */

.section-3 .right-section .stat-4{
  height: 33.33%;
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}
.section-3 .right-section .stat-4 .open-section{
  color: var(--color-primary);
  font-size: large;
  text-align: end;
}

.section-3 .right-section .stat-4 .stat-content .title{
  color: var(--color-primary);
  font-size: 22px;
  font-weight: bold;
  font-family: "Inter", sans-serif !important;
}

.section-3 .right-section .stat-4 .stat-content .stat{
  color: var(--color-primary);
  font-weight: bold;
  font-family: "Inter", sans-serif !important;
}
/* _______ */

.section-3 .right-section .stat-5{
  height: 33.33%;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}
.section-3 .right-section .stat-5 .open-section{
  color: var(--color-primary);
  font-size: large;
  text-align: end;
}

.section-3 .right-section .stat-5 .stat-content .title{
  color: var(--color-primary);
  font-size: 22px;
  font-weight: bold;
  font-family: "Inter", sans-serif !important;
}

.section-3 .right-section .stat-5 .stat-content .stat{
  color: var(--color-primary);
  font-weight: bold;
  font-family: "Inter", sans-serif !important;
}
/* _______ */
.section-3 .right-section .stat-6{
  height: 33.33%;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px;
  font-size: large;
  color: var(--color-light);
}

.section-4{
  min-height: 50%;
}
.section-5{
  height: 350px;
  /* padding: 10px; */
}

.section-5 img{
  height: 350px;
  width: 100%;
  object-fit: cover;
  /* border-radius: 4px; */
}

.section-6{
  background-color: var(--color-background);
  height: calc(100svh - 350px);
  padding-left: 20px;
}

/* ___________________ */

.custom-row {
  display: flex;
  flex-wrap: wrap; /* Allows columns to wrap onto a new row if there are more than two columns */
}

.custom-col-6 {
  flex: 0 0 50%; /* Each column takes up 50% of the row's width */
  padding: 10px;
  box-sizing: border-box;
  height: 50vh;
  min-height: 200px;
  position: relative; /* To position overlay and content properly */
  background-size: cover;
  background-position: center;
}

.custom-col-6::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
  z-index: 1;
}

.custom-col-6 .content {
  position: relative;
  z-index: 2; /* Places content above the overlay */
  color: white;
  display: flex;
  align-items: flex-end; /* Aligns the content at the bottom */
  justify-content: space-between; /* Text on the left, icon on the right */
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .custom-col-6 {
      flex: 0 0 100%; /* Makes the columns take full width on smaller screens */
      height: auto; /* Adjust the height for smaller screens */
  }
}
/* ________________________ */
/* Contact Form Specific */
.contact-container {
  padding: 20px;
  /* max-width: 600px; */
  /* margin: 10px 8px; */
  /* border-radius: 8px; */
  background-color: var(--color-primary);
}

.contact-title {
  font-size: 32px;
  font-weight: bold;
  color: var(--color-light);
  margin-bottom: 20px;
}

.contact-description {
  font-size: 16px;
  color: var(--color-light);
  margin-bottom: 24px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 8px;
  font-size: 14px;
  color: var(--color-light);
}

.contact-form input,
.contact-form textarea {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  padding: 12px;
  /* border: 1px solid var(--color-secondary); */
  border-radius: 4px;
  margin-bottom: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--color-primary);
}

.contact-btn-2{
  background-color: var(--color-light);
  color: var(--color-primary);
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-btn-2:hover {
  background-color: #8e1f30;
}

.contact-btn-2 svg {
  width: 24px;
  height: 24px;
  fill: var(--color-primary);
}

.contact-btn-2:focus {
  outline: none;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-container {
    padding: 16px;
  }
}