.container {
    display: flex;
    flex-direction: row;
    padding-top: 120px;
    justify-content: center;
    align-items: center;
  }

  .container-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  
  .text-large {
    font-size: 48px;
    font-family: 'Sora', sans-serif;
    font-weight: 800;
    color: white;
    margin: 0 20px;
    width: 50%;
  }
  
  .text-small {
    font-size: 24px;
    font-family: 'Sora', sans-serif;
    color: white;
    width: 50%;
  }

  /* video player  */
  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 80px;
    margin-top: -120px
  }
  
  .react-player {
    min-height: 540px;
    width: 80% !important;
  }

  .image-slide {
    width: 80%;
    min-height: 540px;
    object-fit: cover;
  }

  .icon-container{
    background-color: var(--color-primary);
    height: 60px;
    width: 60px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  .button-container{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
  }
  .new-service{
    background: url("../../images/background.png");
    min-height: 460px;
  }

  .modal-content{
    /* background: url("../../images/background.png"); */
    background-color: var(--navbar-color);
    color: var(--foundation-light);
  }

  
  @media (max-width: 768px) {
    .video-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      margin-bottom: 80px;
      margin-top: -240px
    }
    .react-player {
      min-height: 150px !important;
      width: 95% !important;
      max-height: 250px !important;
    }
    .container {
      flex-direction: column;
      height: 200%;
      padding-top: 150px;
    }
    .container-2 {
      flex-direction: column;
      height: auto;
      /* padding-top: 150px; */
    }

    .button-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .text-large, .text-small {
      width: 100%;
      text-align: center;
      font-size: 30px;
      padding-bottom: 16px;
      margin: 0 !important;
    }
  
    .text-small {
      font-size: 18px;
    }
    .image-slide {
      display: none;
    }

  }
  